@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);


h1{
	 font-size: 20px;
	 font-family: 'Courier New';
	 color : white;
}


.supprimer{
	background-color: red;	
}

input {
  width: 100%;
  border-radius: 10px;
  padding: 12px 50px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



button [mode="supprimer"]{
  background-color: white;
  color: black;
  display:inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  margin: 30px 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: all 0.25s;
}

button {
  background-color: white;
  color: black;
  display:inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  margin: 30px 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: all 0.25s;
}

button:hover {
  opacity: 0.8;
  background-color: #E2B842;
  color: white;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dropbtn {
  background-color: #012B39;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
body {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
}
table {
  width: 70%;
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: Left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}